<%- include("../includes/head.ejs") %>

<body style="height: 100%">
  <%- include("../includes/nav.ejs") %>
  <div style="height: 100%">
    <div class="row mx-5" style="height: 100%">
      <div class="col-2">
        <%- include("../includes/channel.ejs") %>
      </div>
      <div class="col-8" style="height: 100%">
        <div>
          <div class="row justify-content-center">
            <h1>
              <%= channel.name %>
            </h1>
          </div>
          <hr />

          <div class="d-flex flex-column align-items-between" style="height: 100%">
            <div class="row justify-content-center overflow-auto" style="height: 80%">
              <div class="col-md-8" id="append">
                <% if(messages.length > 0) { %> <% for(message of messages) { %>
                <!-- CHAT -->
                <div class="mb-3">
                  <div class="row justify-content-between my-0">
                    <p class="lead font-weight-bold">
                      <%=message.creator.name%>%>
                    </p>
                    <p class="lead">
                      <%=message.createdAt.getDate()%>-<%=message.createdAt.getMonth()+1%>-<%=message.createdAt.getFullYear()%>
                      <%=message.createdAt.getHours()%>:<%=message.createdAt.getMinutes()%>
                    </p>
                  </div>
                  <div class="row">
                    <p class="lead">
                      <%= message.text %>
                    </p>
                  </div>
                </div>
                <!-- CHAT END -->
                <% } %> <% } %>
              </div>
            </div>

            <div class="row justify-content-center mt-auto my-5">
              <div class="col-md-8 d-flex">
                <textarea name="text" type="text" rows="3" class="form-control" id="messageText"></textarea>
                <button id="send" class="btn btn-lg btn-light">
                  Send
                </button>
                <button id="emoji_palette_button" type="button">Palette</button>
                <input type="hidden" name="channelId" id="channelId" value="<%= channel.id%>" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <%- include("../includes/users.ejs") %>
      </div>
    </div>

    <%- include("../includes/end.ejs") %>
  </div>
  <script src="/js/socket.js"></script>
</body>