<%- include("../includes/head.ejs") %>
<body>
  <%- include("../includes/nav.ejs") %>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <%- include("../includes/channel.ejs") %>
      </div>
      <div class="col-8 my-5">
        <div class="row justify-content-center">
          <h1>Slack</h1>
        </div>
        <hr />
      </div>
      <div class="col-2">
        <%- include("../includes/users.ejs") %>
      </div>
    </div>
  </div>
  <%- include("../includes/end.ejs") %>
</body>
